---
import { URL_API } from '../../constants/apis'
import { getCharacters } from '../../services/getCharacters'
import { getCharacterForId } from '../../services/getCharacterForId'
import Layout from '../../layouts/Layout.astro'
import CharacterCard from '../../components/CharacterCard.astro'
import INext from '../../components/icons/INext.astro'
import IPrev from '../../components/icons/IPrev.astro'
import IHome from '../../components/icons/IHome.astro'
import Tag from '../../components/Tag.astro'
import Title from '../../components/Title.astro'

export async function getStaticPaths() {
  const { characters } = await getCharacters(`${URL_API}?limit=100000`)
  return characters.map(({ id }) => ({
    params: { id: id.toString() },
  }))
}

export const prerender = true

const { id } = Astro.params
const info = await getCharacterForId(id)

if (info.statusCode === 400) {
  return Astro.redirect(`/character/${1 + Number(id)}`)
}

const { name, image, description, transformations, originPlanet } = info

const infoPrev = await getCharacterForId(`${Number(id) - 1}`)
const infoNext = await getCharacterForId(`${1 + Number(id)}`)

const prev = infoPrev.statusCode !== 400 ? `/character/${Number(id) - 1}` : '/'
const next = `/character/` + (1 + Number(id))

const statistics = [
  { name: 'Race', value: info.race },
  { name: 'Gender', value: info.gender },
  { name: 'Origin Planet', value: originPlanet.name },
  { name: 'Ki', value: info.ki },
  { name: 'Max Ki', value: info.maxKi },
]
---

<Layout title={`Character`}>
  <header class='bg-primary sticky top-0 z-10'>
    <article class='flex items-center justify-between max-width px-4 py-2 text-black'>
      <a href='/' class='hover:scale-115'><IHome /></a>
      <Title text={name} />
      <section class='flex items-center gap-4'>
        <a href={prev} class='hover:scale-115'><IPrev /></a>
        {
          infoNext.statusCode !== 400 ? (
            <a href={next} class='hover:scale-115'>
              <INext />
            </a>
          ) : null
        }
      </section>
    </article>
  </header>
  <main class='p-4 bg-[url("https://images.pexels.com/photos/1694000/pexels-photo-1694000.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")] bg-contain bg-center overlay'>
    <article class='grid grid-cols-1 lg:grid-cols-[20rem_2.5fr] lg:gap-8 relative max-width'>
      <section class='grid grid-cols-1 sm:grid-cols-[20rem_2.5fr] lg:flex lg:flex-col gap-8 pt-10'>
        <section
          class='p-10 justify-center rounded-xl bg-[url("https://c.wallhere.com/photos/b9/00/Dragon_Ball_Fortnite-2157419.jpg!d")] bg-cover bg-start overlay overflow-hidden shadow-md shadow-gray-700'
        >
          <img src={image} alt={`img-${name}`} class='h-full object-contain max-h-85 relative m-auto drop-shadow-md drop-shadow-gray-500' />
        </section>
        <section class='flex flex-col gap-2 p-4'>
          {statistics.map(({ name, value }) => <Tag text={name} highlight={value} />)}
        </section>
      </section>
      <article class='prose-lg dark:prose-invert'>
        <section>
          <Title text='Description' theClass='tracking-widest' />
          <p>{description}</p>
        </section>
        <section>
          <Title text='Origin Planet:' theClass='tracking-widest' highlight={originPlanet.name} />
          <p>{originPlanet.description}</p>
        </section>
        {
          transformations.length !== 0 ? (
            <article>
              <Title text='Transformations of' theClass='tracking-widest' highlight={name} />
              <section class='grid grid-cols-[repeat(auto-fill,_minmax(14rem,_1fr))] gap-4 not-prose'>
                {transformations.map((transformation) => (
                  <CharacterCard name={transformation.name} ki={transformation.ki} image={transformation.image} id={id} />
                ))}
              </section>
            </article>
          ) : null
        }
      </article>
    </article>
  </main>
</Layout>

<style></style>
