---
import { transformer } from 'astro:schema'
import Layout from '../../layouts/Layout.astro'
import { getCharacters, getCharacterForId } from '../../services/dragonBall'
import CharacterCard from '../../components/CharacterCard.astro'

export async function getStaticPaths() {
  const characters = await getCharacters()
  return characters.map(({ id }) => ({
    params: { id: id.toString() },
  }))
}

const { id } = Astro.params

const data = await getCharacterForId(`${id}`)
const { name, image, ki, maxKi, race, description, transformations, originPlanet } = data
---

<Layout title={`Character`}>
  <header>
    <h1 class='text-4xl'>{name}</h1>
  </header>
  <main class='max-width p-4 grid gap-8'>
    <article class='grid grid-cols-1 lg:grid-cols-[1fr_2.5fr] gap-8'>
      <section class='relative pt-8 pb-18 object-contain flex flex-col items-center justify-center rounded-xl bg-black'>
        <img src={image} alt={`img-${name}`} class='h-full object-contain max-h-85' />
        <p class='absolute top-1 right-2'>Race: <span class='text-secondary'>{race}</span></p>
        <section class='absolute bottom-1 left-2 flex flex-col gap-1'>
          <p class=''>KI: <span class='text-secondary'>{ki}</span></p>
          <p class=''>Max KI: <span class='text-secondary'>{maxKi}</span></p>
        </section>
      </section>
      <article class='prose-lg dark:prose-invert'>
        <h2 class='text-2xl'>Description</h2>
        <p>{description}</p>
      </article>
    </article>
    <article>
      <h2>Origin Planet</h2>
      <section class='flex flex-col-reverse lg:flex-row items-center gap-8'>
        <section>
          <img src={originPlanet.image} alt='' class='rounded-2xl h-80 w-auto min-w-80 test object-contain lg:object-cover' />
        </section>
        <section class='prose-lg dark:prose-invert'>
          <h3>{originPlanet.name}</h3>
          <p>{originPlanet.description}</p>
        </section>
      </section>
    </article>
    <article>
      <h2>Transformations</h2>
      <section class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4'>
        {transformations.map((transformation) => <CharacterCard name={transformation.name} ki={transformation.ki} image={transformation.image} id={id} />)}
      </section>
    </article>
  </main>
</Layout>
